.button {
    padding: 16px 40px;
    border-radius: 10px;
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: var(--shadow-button);
    text-decoration: none;
}

.btn-primary-pink {
    color: var(--font-color-light);
    background-color: var(--color-pink);
}
.btn-primary-pink:hover {
    background-color: var(--color-pink400);
}
.btn-primary-pink:active {
    background-color: var(--color-pink700);
}

.btn-primary-blue {
    color: var(--font-color-light);
    background-color: var(--color-blue);
}
.btn-primary-blue:hover {
    background-color: var(--color-blue400);
}
.btn-primary-blue:active {
    background-color: var(--color-blue700);
}