@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300;400;500;600&display=swap');

:root {
    --background-light: #F5F5F5;
    --background-pink: #FFEEF6;
    --background-blue: #ECF5FD;
    --font-color: #1d1d1d;
    --font-color-light: #fefefe;
    --font-family-title: 'Josefin Sans', sans-serif!important;
    --font-family-body: 'Josefin Slab', serif;;
    --color-pink: rgb(255,79,165);
    --color-pink300: #FF85BE;
    --color-pink400: #FE62AB;
    --color-pink700: #B9006D;
    --color-blue: #3FAFEE;
    --gray-dark: #3D3D3D;
    --shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --gradient-pattern: linear-gradient(90deg, rgba(255,79,165,1) 0%, rgba(63,175,238,1) 100%);
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
    color: var(--font-color);
    font-family: var(--font-family-body);
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 2;
    background-color: var(--background-light);
}

.bg-pink {
    background-color: var(--background-pink);
}

html {
  scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: inherit;
    box-shadow: inset 0 0 5px transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-pink);
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue);
}

.logo {
	background-image: url( "../images/logo_vertical.svg");
	background-repeat: no-repeat;
    width: 300px;
	height: 300px;
}
.logo--mini {
    background-image: url("../images/logo_icon.svg");
	background-repeat: no-repeat;
    width: 45px;
	height: 45px;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */
.menu-home {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
}
.menu-home > a {
    font-family: var(--font-family-title);
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
.menu-home > a:hover {
    text-decoration: underline;
}

.nav {
	font-family: var(--font-family-title);
    position: fixed;
    width: -webkit-fill-available;
    line-height: 65px;
    text-align: center;
    display: none;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    margin-left: 1rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1rem;
}

.nav div.main_list ul li a:hover {
    text-decoration: underline;
}


/* Home section */

.background {
    width: 100%;
    height: 100vh;
    background: var(--color-pink);
    background: var(--gradient-pattern);
    background-position: center top;
	background-size:cover;
}

.gradient {
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.1) 100%);
    background-position: center top;
	background-size:cover;
}

.nav {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-bar {
    padding: 5px 30px;
    background-color: #111;
    display: block;
}


.title-page {
    font-family: var(--font-family-title);
    color: var(--font-color);
	text-align:center;
	font-size: 4rem;
}

.section-page {
    padding-top: 65px;
    min-height: 50vh;
}

.myP {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
}

.title-header-container {
    background: var(--gradient-pattern);
}

.title-header {
    background: linear-gradient(180deg, rgba(255,79,165,0) 20%, rgba(245,245,245,1) 100%);
    font-family: var(--font-family-title);
    color: var(--font-color);
	text-align:center;
	font-size: 4rem;
    padding: 16px;
}