@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --background-light: #FEFEFE;
    --background-pink: #FFEEF6;
    --background-blue: #ECF5FD;
    --background-lilac: #F6F1FE;
    --font-color: #1d1d1d;
    --font-color-light: #fefefe;
    --font-family-title: 'Josefin Sans', sans-serif!important;
    --font-family-body: 'Josefin Slab', serif;
    --font-family-label: 'Roboto Slab', serif;
    --color-pink: #FF4FA5;
    --color-pink100: #FFCBE3;
    --color-pink200: #FFA8D1;
    --color-pink300: #FF85BE;
    --color-pink400: #FE62AB;
    --color-pink700: #B9006D;
    --color-pink900: #750043;
    --color-blue: #3FAFEE;
    --color-blue200: #9CCCF2;
    --color-blue300: #72B8E9;
    --color-blue700: #00679D;
    --color-lilac: #9376D2;
    --color-lilac100: #E5D7FB;
    --color-lilac200: #D2BDF6;
    --color-lilac300: #BEA4ED;
    --color-lilac700: #6850A2;
    --color-purple: #322050;
    --color-purple50: #F6F2FA;
    --gray-dark: #3D3D3D;
    --shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --gradient-pattern: linear-gradient(90deg, rgba(255,79,165,1) 0%, rgba(63,175,238,1) 100%);
}

* {
    position: relative;
    margin: 0;
    padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
    color: var(--font-color);
    font-family: var(--font-family-body);
    font-weight: 700;
    font-size: 1.1rem;
    background-color: var(--background-light);
    width: 100%;
    height: 100%;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.full-page {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
}

:target {
    scroll-margin-top: .8em;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: inherit;
    box-shadow: inset 0 0 5px transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-pink);
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue);
}

.logo {
	background-image: url( "../images/logo_vertical.svg");
	background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    filter: drop-shadow(2px 3px 2px purple);
}

.logo-footer {
	background-image: url( "../images/logo_vertical.svg");
	background-repeat: no-repeat;
    width: 150px;
	height: 150px;
}
.logo--mini {
    background-image: url("../images/logo_icon.svg");
	background-repeat: no-repeat;
    width: 45px;
	height: 45px;
}

.divider {
    background-color: var(--color-pink);
    min-height: 0.1rem;
    width: 80%;
}


.bg-header {
    position: absolute;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-top: -24px;
}
  
.bg-title {
    background-image: url(../images/ativo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-title {
    width: 500px;
}
  
.img-whale {
    object-fit: contain;
    width: 350px;
    rotate: -10deg;
}

.stick-start {
    width: 80px;
}

.title-header-container {
    background: var(--gradient-pattern);
}

.footer {
    background: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    overflow-x: hidden;
}

.text-bold {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 1.1rem;
}

.label {
    font-family: var(--font-family-label);
    font-size: 14px;
    font-weight: 300;
}

.icon-github {
    border-radius: 9px;
    background-image: url( "../images/redes/github.svg");
	background-repeat: no-repeat;
    box-shadow: var(--shadow-button);
    width: 32px;
	height: 32px;
}

.icon-linkedin {
    box-shadow: var(--shadow-button);
    border-radius: 9px;
    background-image: url( "../images/redes/linkedin.svg");
	background-repeat: no-repeat;
    width: 32px;
	height: 32px;
}

.icon-medium {
    box-shadow: var(--shadow-button);
    border-radius: 9px;
    background-image: url( "../images/redes/medium.svg");
	background-repeat: no-repeat;
    width: 32px;
	height: 32px;
}

.icon-whatsapp {
    box-shadow: var(--shadow-button);
    border-radius: 9px;
    background-image: url( "../images/redes/whatsapp.svg");
	background-repeat: no-repeat;
    width: 32px;
	height: 32px;
}

.tape-position {
    z-index: 200;
    top: 30px;
    width: 50%;
}

.card {
    background-color: var(--font-color-light);
    box-shadow: var(--shadow-button);
    color: var(--font-color);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.card-content {
    padding: 0.5rem 1rem;
}

.card-title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 1.5rem;
}

.card-cover {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
  
.card-cover::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
.card-cover img {
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    object-position: 50% 50%;
}