@media (max-width: 575.98px) { 
    .logo {
        width: 280px;
        height: 280px;
    }

    .logo--mini {
        width: 45px;
        height: 45px;
    }
    .bg-header {
        overflow-x: hidden;
        margin-top: 0!important;
        width: 113%;
    }
    .bg-title {
        width: 80%;
    }

    .img-whale {
        width: 150px!important;
        margin-top: -50px!important;
        margin-left: -50px!important;
    }
    .img-title {
        width: 100px!important;
    }
    .stick-start {
        width: 30px!important;
    }

    .card-title {
        font-size: 1.1rem;
    }
    .label {
        font-size: 11px;
    }
}

@media all and (max-width:700px){
	
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width: 1464px) {
    .full-page {
        padding: 0 24px;
    }
}